* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
.container {
      margin: auto;
      width: 90%;
}

.p3 {
      color: brown;
}
.ul-img ul {
      list-style-position: inside;
      list-style-type: circle;
}
